// Paleta de colores
// Lemonless de groutboy: http://www.colourlovers.com/palette/101983/Lemonless

$oscuro: #002C2B;
$naranjo: #FF3D00;
$amarillo: #FFBC11;
$verdeclaro: #0A837F;
$verdeoscuro: #076461;