$icon-font-path:"/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
 // bower:scss 
 @import"../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
 // endbower 
 @import url(http://fonts.googleapis.com/css?family=Tenor+Sans|Roboto:400,300);
 @import 'colores';
 %tenor-sans {
    font-family:'Tenor Sans', sans-serif;
}
%roboto {
    font-family:'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    @extend %roboto;
    color: $oscuro;
}
body {
    @extend %tenor-sans;
    background: {
        color: $verdeclaro;
        image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=');
    }
}
a {
    color: $naranjo;
    text-decoration: underline;
    &:hover {
        color: #ffffff;
    }
    &.abtn {
        display: block;
        padding: 3px;
        border-radius: 5px;
        background: {
            color: $oscuro;
        }
        width: 180px;
        text-align: center;
        margin: 0 auto;
        clear: both;
    }
}
::selection {
    color: #ffffff;
    background: #000000;
}
::-moz-selection {
    color: #ffffff;
    background: #000000;
}
.main-header {
    background: {
        color: $amarillo;
    }
    padding: {
        top: 10px;
    }
    h1 {
        text-align: center;
        margin: {
            top: 0;
            bottom: 10px;
        }
        color: $verdeoscuro;
        &+span {
            text-align: center;
            @extend .col-xs-12;
            color: $verdeoscuro;
        }
    }
}
.un-ejemplo {
    .una-formula {
        margin: {
            bottom: 10px;
        }
        .snippet {
            width: 66%;
        }
        .copiar {
            width: 30%;
            border-color: $amarillo;
            background-color: $amarillo;
        }
    }
    .bootply {
    }
}