$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

h1 {
    text-align: center;
}
.un-ejemplo {
    outline: 1px solid red;
    .una-formula {
        @extend .col-xs-6;
    }
    .bootply {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}
